__pycache__/
*.py[cod]

build/bin/*
!build/bin/.gitkeep

build/obj/*
!build/obj/.gitkeep

*.buildinfo
*.changes
*.deb
*.dsc
*.tar.*
debian/.debhelper/
debian/curl-polycall/
debian/debhelper-build-stamp
debian/files
debian/*.substvars
